TAPO_EMAIL=votre_email@tapo.com
TAPO_PASSWORD=votre_password
P100_IP=192.168.x.x
C225_IP=192.168.x.x
ORACLE_USER=system
ORACLE_PASSWORD=votre_oracle_password
ORACLE_DSN=localhost:1521/FREEPDB1
BRIDGE_URL=https://votre-tunnel.ngrok-free.dev
AWS_DEFAULT_REGION=eu-west-3
